<launch>

  <master auto="start"/>

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set simulation time -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <param name="/use_sim_time" value="true" type="bool"/>

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set to your sensor's range -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <arg name="sensor_range" default="8.0"/>

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set stage to run your world file -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <node name="sim" pkg="stage_ros" type="stageros" args="$(find stage_sim)/worlds/SEM-2.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set joystick controls (not needed for hector exploration)-->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!--node name="js" pkg="joy" type="joy_node"/-->

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set up the move base -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <include file="$(find navigation_stage)/move_base_config/move_base.xml"/>

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set up the amcl node -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!--include file="$(find navigation_stage)/move_base_config/amcl_node.xml"/-->

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set up slam mapping -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <include file="$(find navigation_stage)/move_base_config/slam_gmapping.xml"/>

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set up hector pose estimation -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!--node pkg="hector_pose_estimation" type="pose_estimation" name="hector_pose_estimation" output="screen"/-->

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set up hector costmapping -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <include file="$(find hector_costmap)/launch/costmap.launch" />

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set up hector navigation -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <node pkg="hector_exploration_node" type="exploration_planner_node" name="hector_exploration_node" output="screen">
    <rosparam file="$(find hector_exploration_node)/config/costmap.yaml" command="load" />
  </node> 

  <!-- ///////////////////////////////////////////////////////////////////  -->
  <!-- Set up rviz -->
  <!-- ///////////////////////////////////////////////////////////////////  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/hector.rviz" />

</launch>
