<launch>
	<param name="use_sim_time" value="true" type="bool"/>


  <include file="$(find hnt_launch)/2d_sim/stage.xml"/>
  <include file="$(find hnt_launch)/static_transforms.xml"/>

  <group ns="robot">
    <param name="axis_vx" type="int" value="1"/>
    <param name="axis_vw" type="int" value="2"/>
    <param name="axis_vy" type="int" value="0"/>
		<param name="deadman_button" type="int" value="5"/>
		<param name="run_button" type="int" value="4"/>

    <node pkg="joy" type="joy_node" name="teleop_joy">
			<param name="dev" type="str" value="/dev/input/js1"/>
		</node>
    <node pkg="p2os_teleop" type="p2os_teleop" name="teleop_base">
      <remap from="des_vel" to="/base_controller/command"/>
    </node>
    <!--<node pkg="b3ia_gui" type="estop" name="estop_gui"/>-->

    <node pkg="p2os_dashboard" type="p2os_dashboard" name="dashboard"/>
  </group>
</launch>
